* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background: #ffffff;
}

/* ===== HEADER ===== */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 60px; 
  z-index: 1000;
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
box-shadow: 0px 4px 4px 0px #00000066;

}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img{
    width: 60%;
    /* height: 50%; */
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav a {
  text-decoration: none;
  color: #ddd;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav a:hover {
  color: #4CAF50;
}


.btn {
  padding: 12px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.btn-primary {
  background: #2e7d32;
  color: #fff;
}

.btn-primary:hover {
 opacity: 0.5;
}

.btn-secondary {
  background: #f5f5f5;
  color: #222;
}

.btn-secondary:hover {
  opacity: 0.5;
}

/* ===== HERO ===== */
.hero {
  position: relative;
  height: 80vh;
  padding: 0 60px;
  display: flex;
  align-items: center;
  background: url('assets/hero.png') center/cover no-repeat;
  
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  max-width: 619px;
}

.tagline {
  font-size: 18px;
  color: #ddd;
}

.hero h1 {
    color: white;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 20px;
  margin-top: 31px;
}

.hero p {
  font-size: 17px;
  color: #d1d1d1;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

/* Packages Section  */
.packages {
  padding: 100px 60px;
  text-align: center;
}

.section-header {
  max-width: 750px;
  margin: 0 auto 70px;
}

.sub-title {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 3px solid #2e7d32;
  padding-bottom: 6px;
  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 44px;
  color: #2e7d32;
  margin-bottom: 20px;
}

.section-header p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

/* Cards Grid */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Card */
.card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
}

.card-image {
  position: relative;
}

.card-image img:first-child {
  width: 100%;
  height: 350px;
  object-position: center;
  object-fit: cover;
  display: block;
}

.card-icon {
  position: absolute;
  bottom: 0px;
  left: 25px;
  width: 55px;
  height: 55px;
  padding: 12px;
  border-radius: 50%;
  object-fit: contain;
}

.card-content {
  padding: 50px 25px 30px;
}

.card-content h3 {
  font-size: 24px;
  color: #2e7d32;
  margin-bottom: 15px;
}

.card-content p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 25px;
}

.learn-more {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: #2e7d32;
  text-decoration: none;
}

.learn-more img {
  width: 18px;
  height: 18px;
  transition: 0.3s ease;
}

.learn-more:hover img {
  transform: translateX(5px);
}

/* Menu Section  */
.menu-section {
  background: #FAF3E3;
  padding: 100px 60px;
  text-align: center;
}

/* HEADER */
.menu-header {
  max-width: 700px;
  margin: 0 auto 70px;
}

.sub-title {
  display: inline-block;
  font-size: 16px;
  border-bottom: 3px solid #2e7d32;
  padding-bottom: 6px;
  margin-bottom: 15px;
}

.menu-header h2 {
  font-size: 42px;
  color: #2e7d32;
  margin-bottom: 15px;
}

.menu-header p {
  color: #444;
  font-size: 18px;
  line-height: 1.6;
}

/* WRAPPER */
.menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

/* ARROWS */
.arrow {
  background: #2e7d32;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow img {
  width: 22px;
}

/* CARDS */
.menu-cards {
  display: flex;
  gap: 30px;
  cursor: pointer;
  
}

.menu-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  width: 320px;
  text-align: left;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
 
}

.menu-image {
  position: relative;
}

.menu-image img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: center;
}

.price {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #2e7d32;
  color: #fff;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: 500;
}

/* CONTENT */
.menu-content {
  padding: 25px;
}

.menu-content h3 {
  color: #2e7d32;
  margin-bottom: 12px;
  font-size: 22px;
}

.menu-content p {
  color: #555;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.add-menu {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #2e7d32;
  text-decoration: none;
  font-weight: 500;
}

.add-menu img {
  width: 16px;
  transition: 0.3s;
}

.add-menu:hover img {
  transform: translateX(5px);
}

.dots {
  margin: 40px 0;
}

.dot {
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.dot.active {
  background: #2e7d32;
}

.view-menu-btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  background: #2e7d32;
  color: #fff;
  padding: 16px 40px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 500;
}

.view-menu-btn img {
  width: 18px;
}

.view-menu-btn:hover img{
      transform: translateX(5px);
}

/* CTA SECTION  */
.cta {
  position: relative;
  height: 80vh;
  padding: 0 60px;
  display: flex;
  align-items: center;
     background: url('assets/cta.jpg') center/cover no-repeat;
  
}

.cta-content{
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 605px;
}

.cta-content h1{
    font-size: 45px;
    color: white;
}

.cta-content p{
    font-size: 18px;
    color: white;
    max-width: 494px;
}

