/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #fff;
  background: #111;
}

/* ===== CONTAINER ===== */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* ===== HEADER ===== */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo span {
  color: #fff;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav a {
  text-decoration: none;
  color: #ddd;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav a:hover {
  color: #4CAF50;
}

/* ===== BUTTONS ===== */
.btn {
  padding: 12px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  transition: 0.3s ease;
}

.btn-primary {
  background: #2e7d32;
  color: #fff;
}

.btn-primary:hover {
  background: #256628;
}

.btn-secondary {
  background: #f5f5f5;
  color: #222;
}

.btn-secondary:hover {
  background: #e0e0e0;
}

/* ===== HERO ===== */
.hero {
  position: relative;
  height: 100vh;
  background: url('assets/hero.png') center/cover no-repeat;
  display: flex;
  align-items: flex-start;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  position: relative;
  /* max-width: 600px; */
}

.tagline {
  font-size: 18px;
  color: #dcdcdc;
  margin-bottom: 20px;
  display: inline-block;
}

.hero h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
}

.hero p {
  font-size: 17px;
  color: #d1d1d1;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

