* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background: #ffffff;
}

/* ===== HEADER ===== */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 60px; 
  z-index: 1000;
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
box-shadow: 0px 4px 4px 0px #00000066;

}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img{
    width: 60%;
    /* height: 50%; */
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav a {
  text-decoration: none;
  color: #ddd;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav a:hover {
  color: #4CAF50;
}


.btn {
  padding: 12px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.btn-primary {
  background: #2e7d32;
  color: #fff;
}

.btn-primary:hover {
 opacity: 0.5;
}

.btn-secondary {
  background: #f5f5f5;
  color: #222;
}

.btn-secondary:hover {
  opacity: 0.5;
}

/* ===== HERO ===== */
.hero {
  position: relative;
  height: 80vh;
  padding: 0 60px;
  display: flex;
  align-items: center;
  background: url('assets/hero.png') center/cover no-repeat;
  
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  max-width: 619px;
}

.tagline {
  font-size: 18px;
  color: #ddd;
}

.hero h1 {
    color: white;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 20px;
  margin-top: 31px;
}

.hero p {
  font-size: 17px;
  color: #d1d1d1;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

