* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background: #ffffff;
}

/* ===== HEADER ===== */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 60px; 
  z-index: 1000;
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
box-shadow: 0px 4px 4px 0px #00000066;

}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img{
    width: 60%;
    /* height: 50%; */
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav a {
  text-decoration: none;
  color: #ddd;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav a:hover {
  color: #4CAF50;
}


.btn {
  padding: 12px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.btn-primary {
  background: #2e7d32;
  color: #fff;
}

.btn-primary:hover {
 opacity: 0.5;
}

.btn-secondary {
  background: #f5f5f5;
  color: #222;
}

.btn-secondary:hover {
  opacity: 0.5;
}

/* ===== HERO ===== */
.hero {
  position: relative;
  height: 80vh;
  padding: 0 60px;
  display: flex;
  align-items: center;
  background: url('assets/hero.png') center/cover no-repeat;
  
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  max-width: 619px;
}

.tagline {
  font-size: 18px;
  color: #ddd;
}

.hero h1 {
    color: white;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 20px;
  margin-top: 31px;
}

.hero p {
  font-size: 17px;
  color: #d1d1d1;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

/* Packages Section  */
.packages {
  padding: 100px 60px;
  text-align: center;
}

.section-header {
  max-width: 750px;
  margin: 0 auto 70px;
}

.sub-title {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 3px solid #2e7d32;
  padding-bottom: 6px;
  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 44px;
  color: #2e7d32;
  margin-bottom: 20px;
}

.section-header p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

/* Cards Grid */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Card */
.card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
}

.card-image {
  position: relative;
}

.card-image img:first-child {
  width: 100%;
  height: 350px;
  object-position: center;
  object-fit: cover;
  display: block;
}

.card-icon {
  position: absolute;
  bottom: 0px;
  left: 25px;
  width: 55px;
  height: 55px;
  padding: 12px;
  border-radius: 50%;
  object-fit: contain;
}

.card-content {
  padding: 50px 25px 30px;
}

.card-content h3 {
  font-size: 24px;
  color: #2e7d32;
  margin-bottom: 15px;
}

.card-content p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 25px;
}

.learn-more {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: #2e7d32;
  text-decoration: none;
}

.learn-more img {
  width: 18px;
  height: 18px;
  transition: 0.3s ease;
}

.learn-more:hover img {
  transform: translateX(5px);
}

/* Menu Section  */
.menu-section {
  background: #FAF3E3;
  padding: 100px 60px;
  text-align: center;
}

/* HEADER */
.menu-header {
  max-width: 700px;
  margin: 0 auto 70px;
}

.sub-title {
  display: inline-block;
  font-size: 16px;
  border-bottom: 3px solid #2e7d32;
  padding-bottom: 6px;
  margin-bottom: 15px;
}

.menu-header h2 {
  font-size: 42px;
  color: #2e7d32;
  margin-bottom: 15px;
}

.menu-header p {
  color: #444;
  font-size: 18px;
  line-height: 1.6;
}

/* WRAPPER */
.menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

/* ARROWS */
.arrow {
  background: #2e7d32;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow img {
  width: 22px;
}

/* CARDS */
.menu-cards {
  display: flex;
  gap: 30px;
  cursor: pointer;
  
}

.menu-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  width: 320px;
  text-align: left;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
 
}

.menu-image {
  position: relative;
}

.menu-image img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: center;
}

.price {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #2e7d32;
  color: #fff;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: 500;
}

/* CONTENT */
.menu-content {
  padding: 25px;
}

.menu-content h3 {
  color: #2e7d32;
  margin-bottom: 12px;
  font-size: 22px;
}

.menu-content p {
  color: #555;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.add-menu {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #2e7d32;
  text-decoration: none;
  font-weight: 500;
}

.add-menu img {
  width: 16px;
  transition: 0.3s;
}

.add-menu:hover img {
  transform: translateX(5px);
}

.dots {
  margin: 40px 0;
}

.dot {
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.dot.active {
  background: #2e7d32;
}

.view-menu-btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  background: #2e7d32;
  color: #fff;
  padding: 16px 40px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 500;
}

.view-menu-btn img {
  width: 18px;
}

.view-menu-btn:hover img{
      transform: translateX(5px);
}

/* CTA SECTION  */
.cta {
  position: relative;
  height: 80vh;
  padding: 0 60px;
  display: flex;
  align-items: center;
     background: url('assets/cta.jpg') center/cover no-repeat;
  
}

.cta-content{
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 605px;
}

.cta-content h1{
    font-size: 45px;
    color: white;
}

.cta-content p{
    font-size: 18px;
    color: white;
    max-width: 494px;
}

.cta-btns{
    padding-top: 30px;
    max-width: 217px;
}

.cta-btn{
  padding: 14px 22px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  background-color: #FAF3E3;
  gap: 10px;
  color: #2D5A27;
  cursor: pointer;
}

.cta-buttons img{
    align-items: center;

}

.cta-btns:hover img{
    transform: translateX(5px);
}

/* why choose us  */
.about-section {
  padding: 50px 50px;
  background: #f5f5f5;
}


.about-header {
  text-align: center;
  margin-bottom: 70px;
}

.sub-title {
  display: inline-block;
  border-bottom: 3px solid #2D5A27;
  padding-bottom: 6px;
  margin-bottom: 15px;
  font-size: 16px;
}

.about-header h2 {
  font-size: 40px;
  color: #2D5A27;
  margin-bottom: 10px;
}

.about-header p {
  color: #555;
  font-size: 17px;
}


.about-wrapper {
  display: grid;
  grid-template-columns: 1.3fr 0.8fr;
  gap: 60px;
  align-items: stretch; 
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* FEATURE BOX */
.feature-box {
  background: #fff;
  border: 2px solid #2D5A27;
  border-radius: 14px;
  padding: 20px;
  display: flex;
  gap: 15px;
  align-items: flex-start;
  transition: 0.3s ease;
}

.feature-box img {
  width: 24px;
  height: 24px;
  margin-top: 5px;
}

.feature-box h4 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #222;
}

.feature-box p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.about-image {
  height: 100%;
  display: flex;
}

.about-image img {
  width: 100%;
  height: 100%;           
  object-fit: cover;
  border-radius: 138px 138px 0 0;
}


/* Contact Us SECTION  */
.contact-section {
  padding: 60px 60px;
}


.contact-header {
  text-align: center;
  margin-bottom: 70px;
}

.sub-title {
  display: inline-block;
  border-bottom: 3px solid #2D5A27;
  padding-bottom: 6px;
  margin-bottom: 15px;
  font-size: 16px;
}

.contact-header h2 {
  font-size: 42px;
  color: #2D5A27;
  margin-bottom: 10px;
}

.contact-header p {
  color: #555;
}

/* WRAPPER */
.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 16px;
  overflow: hidden;
}

/* LEFT */
.contact-left {
  background: #FAF3E3;
  padding: 60px;
  padding-top: 120px;
  margin-bottom: 50px;
  height: 60vh;
}

.contact-left .small-title {
  font-size: 16px;
  margin-bottom: 15px;
}

.contact-left h3 {
  font-size: 30px;
  color: #2D5A27;
  margin-bottom: 15px;
}

.description {
  margin-bottom: 40px;
  color: #444;
  position: relative;
}

.description::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #2D5A27;
  margin-top: 15px;
}

.phone-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 55px;
}

.phone-item img {
  width: 55px;
  height: 55px;
  background: #2D5A27;
  padding: 15px;
  border-radius: 50%;
}

.phone-item h4 {
  font-size: 22px;
  color: #2D5A27;
}

.phone-item span {
  font-size: 16px;
  color: #333;
}

/* RIGHT */
.contact-right {
  background: #3A6432;
  padding: 60px;
  padding-top: 100px;
  margin-bottom: 50px;
  color: #fff;
}

.contact-right .small-title {
  font-size: 16px;
  margin-bottom: 15px;
}

.contact-right h3 {
  font-size: 32px;
  margin-bottom: 10px;
}

.divider {
  width: 60px;
  height: 3px;
  background: #fff;
  margin-bottom: 40px;
}

/* FORM */
.reservation-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: 500;
}

.form-group input,
.form-group select {
  padding: 14px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}

/* Testimonials Section  */
.testimonials-section {
  padding: 100px 60px;
  text-align: center;
}

.testimonials-header {
  margin-bottom: 80px;
}

.sub-title {
  display: inline-block;
  border-bottom: 3px solid #2D5A27;
  padding-bottom: 6px;
  margin-bottom: 15px;
  font-size: 16px;
}

.testimonials-header h2 {
  font-size: 42px;
  color: #2D5A27;
  margin-bottom: 10px;
}

.testimonials-header p {
  color: #555;
  font-size: 16px;
}


.testimonials-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  cursor: pointer;
}


.testimonial-card {
  background: #fff;
  border: 2px solid #2D5A27;
  border-radius: 16px;
  padding: 60px 40px 80px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}


.quote-icon {
  width: 40px;
  margin-bottom: 25px;
 
}


.testimonial-text {
  font-size: 17px;
  color: #000000;
  line-height: 1.7;
  margin-bottom: 30px;
}


.stars {
  width: 130px;
}


.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid #f4f4f4;
}

/* Footer Section  */
/* FOOTER */
.footer {
  position: relative;
  background: url('assets/footer-back.png') center/cover no-repeat;
  color: #fff;
  padding-top: 100px;
}

/* DARK OVERLAY */
.footer-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  background-position: center;
}

/* CONTENT */
.footer-content {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 60px;
  padding: 0 80px 80px;
}

/* BRAND */
.footer-brand .logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
}

.footer-brand .logo img {
  width: 40px;
}

.footer-brand .logo span {
  font-size: 26px;
  font-weight: 600;
}

.footer-brand p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 400px;
}

/* LINKS */
.footer-links h4 {
  font-size: 22px;
  margin-bottom: 25px;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 18px;
}

.footer-links a {
  text-decoration: none;
  color: #ddd;
  font-size: 18px;
  transition: 0.3s ease;
}

.footer-links a:hover {
  color: #2D5A27;
}

/* BOTTOM */
.footer-bottom {
  position: relative;
  z-index: 2;
  border-top: 1px solid rgba(255,255,255,0.4);
  text-align: center;
  padding: 25px 20px;
}

.footer-bottom p {
  font-size: 18px;
  color: #ddd;
}




/* Responsiveness  */
@media (max-width: 450px) {

    .cta h1{
        font-size: 35px;
        text-align: center;
    }

    .cta p{
        text-align: center;

    }

    .cta-content{
        display: flex;
       align-items: center;
    }

    .menu-cards{
        grid-template-columns: 1fr;
    }

    .reservation-form{
      grid-template-columns: repeat(1fr);
    }

    .features{
      grid-template-columns: 1fr;
    }
    .testimonials-wrapper{
      grid-template-columns: 1fr;
    }
}

